<div class="mainDiv">
    <div class="secondDiv">
        <ion-row>
            <ion-col style="padding: 0px; text-align: center;">
                <p style="margin: 0px; font-size:20px;">Add Points</p>
            </ion-col>
        </ion-row>
        <div class="temp">
            <ion-item class="logitem">
                <ion-input [(ngModel)]="username" type="text">
                </ion-input>
            </ion-item>
        </div>
        <!-- <ion-item class="logitem1"
            *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
            <p>{{'username required!' | translate}}</p>
        </ion-item> -->
        <div class="temp">
            <ion-item class="logitem">
                <ion-input [(ngModel)]="password" type="password"></ion-input>

            </ion-item>
        </div>
        <!-- <ion-item class="logitem1"
            *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
            <p>{{'Password required!' | translate}}</p>
        </ion-item> -->
        <div style="padding: 5px;"><button ion-button (click)="dismiss()" color="gpsc" block>Submit</button></div>
    </div>
</div>