<ion-header>
  <ion-navbar>
    <ion-title>{{ "Notification Settings"  | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of newArray">
    <ion-card-content>
      <ion-row>
        <ion-col col-1 style="margin: auto;">
          <img [src]="item.imgUrl" style="width: 20px; height: 20px;" />
        </ion-col>
        <ion-col col-3 style="margin: auto;">
          <p style="padding: 6px 0px 0px 0px; color: #000; font-size: 12px;
          font-weight: 500;">{{item.key | titlecase}}</p>
        </ion-col>
        <ion-col col-6 no-padding>
          <ion-row style="margin-top: -10px;">
            <ion-col col-4 no-padding>
              <ion-item no-padding>
                <ion-label style="font-size: 12px;">{{ 'Email' | translate }}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col col-4 no-padding>
              <ion-item no-padding>
                <ion-label style="font-size: 12px;">{{ 'SMS' | translate }}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col col-4 no-padding>
              <ion-item no-padding>
                <ion-label style="font-size: 12px;">{{ 'Notification' | translate }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: -21px;margin-bottom: -21px;">
            <ion-col col-4 style="padding-left: 0px;">
              <ion-item no-padding>
                <ion-toggle item-start color="gpsc" [(ngModel)]="item.keys.email_status"
                  *ngIf="islogin.isSuperAdmin || islogin.isDealer" (ionChange)="tab(item,'email_status')"></ion-toggle>
                <ion-toggle item-start color="gpsc" [(ngModel)]="item.keys.email_status"
                  *ngIf="!islogin.isSuperAdmin && !islogin.isDealer" (ionChange)="tab(item,'email_status')"
                  disabled="true"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col col-4 style="padding-left: 0px;">
              <ion-item no-padding>
                <ion-toggle item-start color="gpsc" [(ngModel)]="item.keys.sms_status"
                  *ngIf="islogin.isSuperAdmin || islogin.isDealer" (ionChange)="tab(item,'sms_status')"></ion-toggle>
                <ion-toggle item-start color="gpsc" [(ngModel)]="item.keys.sms_status"
                  *ngIf="!islogin.isSuperAdmin && !islogin.isDealer" (ionChange)="tab(item,'sms_status')"
                  disabled="true"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col col-4 style="padding-left: 0px;">
              <ion-item no-padding>
                <ion-toggle item-start color="gpsc" [(ngModel)]="item.keys.notif_status"
                  (ionChange)="tab(item,'notif_status')"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-1 (click)="addEmail(item)">
          <ion-icon name="mail" color="primary"></ion-icon>
        </ion-col>
        <ion-col col-1 (click)="addPhone(item)">
          <ion-icon name="call" color="secondary"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>