page-msg-utility {
  .myColor {
    background-color: blue;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
  }

  style
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

}

